<!DOCTYPE html>
<html lang="en">
<title>Car Condition Evaluator</title>

<head>
    <style>
        #output {
            background-color: green;
            width: 500px;
            border: 10px solid black;
            margin: 20px;
            padding: 20px;
            color: white;
        }
    </style>
</head>

<body style="background-color: rgb(90, 167, 219);">
    <strong>Your Model trained with an RMSE of: </strong>
    <div id="output">
        {{rmse_3}}
    </div>
   
    <form>
        <input type="button" value="Return to Homepage" onclick="history.back()">
    </form>

</body>

</html>